@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding: 8px;">
    <div class="input-group">
        <div id="infoMessage" class="alert font" style="display: none;">
            <p></p>
        </div>
    </div>
    <div class="card">
        <div style="display: inline-flex;" class="card-header">
            <h2 class="mt-2">MOVE By Serial</h2>
        </div>
    </div>
    <div id="directMoveSerial">
        <div id="scanSerialNumber" class="form-group" style="display:block;">

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Scan Serial Number</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" id="txtScanSerial" name="txtScanSerial" required aria-describedby="inputGroup-sizing-sm">
                <input id="hdnUseKeyboardOnScan" type="hidden" name="hdnUseKeyboardOnScan" value="@ViewBag.UseKeyboardOnScan" />
                <button id="btnScanSerial" type="button" class="btn btn-primary" style="display:none">Scan Serial</button>
            </div>
        </div>
        <div id="directMoveSerialDetail" class="form-group" style="display:none;">
            <div class="accordion" id="accordionExample">
                <div class="card border-0 work-order-detail">
                    <div class="card-header bg-primary text-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                        <span class="title">Serial : <label id="lblSerial"></label> </span>
                        <span class="accicon"><i class="fa fa-angle-down rotate-icon"></i></span>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body p-0">
                            <table class="wo-details">
                                <tr>
                                    <th><span>Item #:</span></th>
                                    <td><span><label id="lblItemNo"></label><input type="hidden" id="hdnARINVT_ID" name="hdnARINVT_ID" value="0" /></span></td>
                                </tr>
                                <tr>
                                    <th><span>Description:</span></th>
                                    <td>
                                        <span><label id="lblItemDescription"></label></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>Source Location:</span></th>
                                    <td><span><label id="lblLocation"></label><input type="hidden" id="hdnFGMULTIID" name="hdnFGMULTIID" value="0" /><input type="hidden" id="hdnLOTNO" name="hdnLOTNO" value="" /></span></td>
                                </tr>
                                <tr>
                                    <th><span>Lot Number:</span></th>
                                    <td>
                                        <span><label id="lblLotNo"></label></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th><span>Total Qty:</span></th>
                                    <td><span><label id="lblTotalQty"></label><input type="hidden" id="hdntotalQty" name="hdntotalQty" value="0" /><input type="hidden" id="hdnserialID" name="hdnserialID" value="0" /><input type="hidden" id="hdnNewSerialNumber" name="hdnNewSerialNumber" value="" /></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="directMoveSerialLoc" class="form-group" style="display:none;">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Scan Target Location</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" id="txtTargetLoc" name="txtTargetLoc" disabled required aria-describedby="inputGroup-sizing-sm">
                <input type="hidden" id="hdnLocationID" name="hdnLocationID" value="0" />
            </div>
        </div>
    </div>
    <div id="controlPanel" class="form-group" style="display:none;">
        <div class="form-group d-flex justify-content-end pt-2 mb-0">
            <button id="btnNext" type="button" class="btn btn-secondary" style="display:none;">Back</button>&nbsp;&nbsp;&nbsp;
            <button id="btnMoveSerial" type="button" class="btn btn-secondary" style="display:none;">Move</button>
        </div>
    </div>
    <div class="spinner" style="display:none">
        <div class="center-div">
            <div class="inner-div">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery.scannerdetection.js"></script>
<script src="~/assets/js/sweetalert211.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#txtScanSerial').scannerDetection({
            timeBeforeScanTest: 200,
            avgTimeByChar: 100,
            onComplete: function (barcode, qty) {
                $('#txtScanSerial').val(barcode);                
                $('#btnScanSerial').trigger('click');
            },
            onError: function (string, qty) {
                if ($('#hdnUseKeyboardOnScan').val() == 'N') {
                    $('#txtScanSerial').empty();
                    $('#txtScanSerial').val('');
                    return false;
                }
            }
        });

        $('#txtScanSerial').focus();
        //$('#txtScanSerial').select();

        $('#txtScanSerial').on('keypress', function (event) {
            if ($('#hdnUseKeyboardOnScan').val() == 'Y') {
                if (event.which == 13) {

                    $("#txtScanSerial").removeClass('is-invalid');
                    if ($("#txtScanSerial").val() == '') {
                        $("#txtScanSerial").addClass('is-invalid');
                        return false;
                    }

                    $('.spinner').css('display', 'block');
                    var snumber = $("#txtScanSerial").val();
                    snumber = snumber.replace('S', '');
                    snumber = snumber.replace('s', '');
                    $("#txtScanSerial").val(snumber);
                    $.ajax({
                        type: "POST",
                        url: "/DirectMoveSerial/Validate",
                        data: { serialNumber: $("#txtScanSerial").val() },
                        cache: false,
                        success: function (response) {
                            if (response.status == 0) {
                                $('.spinner').css('display', 'none');
                                $("#btnValidate").text('Validated');
                                $("#btnValidate").attr('disabled', true);
                                $("#btnValidate").removeClass('btn-primary');
                                $("#btnValidate").addClass('btn-success');
                                $('#txtScanSerial').attr('readonly', 'readonly');
                                $('#txtPickQty').removeAttr('disabled');
                                $('#lblSerial').text(response.label.SERIAL);
                                $('#lblItemNo').text(response.label.ITEM_NO);
                                $('#lblItemDescription').text(response.label.DESCRIPTION);                                
                                $('#lblLocation').text(response.label.LOCATION_DESC);                                
                                $('#lblTotalQty').text(response.label.TOTAL_QUANTITY);
                                $('#hdntotalQty').val(response.label.TOTAL_QUANTITY);
                                $('#lblLotNo').text(response.label.LOT_NO);
                                $('#hdnFGMULTIID').val(response.label.FGMULTI_ID);
                                $('#hdnFGMULTIONHAND').val(response.label.FGMULTI_ONHAND);
                                $('#hdnserialID').val(response.label.MASTER_LABEL_ID);
                                $('#hdnARINVT_ID').val(response.label.ARINVT_ID);
                                $('#hdnLOTNO').val(response.label.LOT_DESC);
                                $('#scanSerialNumber').hide();
                                $('#directMoveSerialDetail').show();
                                $('#directMoveSerialLoc').show();
                                $('#btnNext').show();
                                $('#controlPanel').show();
                                if (parseInt($('#hdnLocationID').val()) > 0) {                                    
                                    $('#controlPanel').show();
                                    $('#btnMoveSerial').hide();
                                }
                                
                                $('#txtTargetLoc').removeAttr('disabled');
                                $('#txtTargetLoc').focus();
                                //$('#txtTargetLoc').select();
                            }
                            else {
                                $('.spinner').css('display', 'none');
                                //$('#infoMessage').addClass('alert-danger');
                                if (response.status == -1) {
                                    location.href = '/Login/Index/';
                                }

                                $('.spinner').css('display', 'none');
                                //$('#infoMessage').addClass('alert-danger');
                                if (response.status == 1) {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: response.message
                                    });
                                    //$('#infoMessage').html(response.message);
                                }

                                if (response.status == 3) {
                                    $('#infoMessage').text('Please enter a serial number');
                                    //$("#btnSaveNext").css('display', 'block');
                                }
                                //$('#infoMessage').stop();
                                //$('#infoMessage').slideDown();
                                //$('#infoMessage').delay(3000).slideUp("slow");

                                if (response.status == -3) {
                                    var url = '@Url.Action("Index", "Login")';
                                    window.location.href = url;
                                }
                            }
                        },
                        failure: function (response) {
                            //  alert(response.responseText);
                            $('.spinner').css('display', 'none');
                        },
                        error: function (response) {
                            //alert(response.responseText);
                            $('.spinner').css('display', 'none');
                        }
                    });
                    return false;
                }//enter
            } //scan
            else {
                return false;
            }
        });

        $('#txtScanSerial').on('copy paste', function (event) {
            if ($('#hdnUseKeyboardOnScan').val() == 'N') {
                return false;
            }
        });       

        $('#txtTargetLoc').on('keypress', function (event) {
            if (event.which == 13) {

                $("#txtTargetLoc").removeClass('is-invalid');
                if ($("#txtTargetLoc").val() == '') {
                    $("#txtTargetLoc").addClass('is-invalid');

                    $('#btnNext').show();
                    $('#controlPanel').show();

                    return false;
                }

                $('.spinner').css('display', 'block');

                $.ajax({
                    type: "POST",
                    url: "/DirectMoveSerial/ValidateLocation",
                    data: { locationName: $("#txtTargetLoc").val(), arinvtID: eval($('#hdnARINVT_ID').val()), serialNumber: $("#lblSerial").text()},
                    cache: false,
                    success: function (response) {
                        if (response.status == 0) {
                            $('.spinner').css('display', 'none');
                            $('#hdnLocationID').val(response.location.ID);
                            $('#txtTargetLoc').attr('disabled', 'disabled');
                            $('#btnMoveSerial').hide();                                                     
                            $('#btnRePrint').hide();                            
                            $('#btnMoveSerial').trigger('click');
                        }
                        else
                        {
                            $('.spinner').css('display', 'none');
                            //$('#infoMessage').addClass('alert-danger');

                            if (response.status == -1) {
                                location.href = '/Login/Index/';
                            }

                            if (response.status == 1) {
                                //$('#infoMessage').html(response.message);
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: response.message
                                });
                                //$('#infoMessage').find('p').after('<div class="input-group"><input type="button" id="btnAddLocation" name="btnAddLocation" value="Add Location" class="btn btn-secondary btn-sm"></div>');
                                //CallAddLocationButton($("#txtTargetLoc").val());
                            }

                            if (response.status == 3) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Please enter a location"
                                });
                                //$('#infoMessage').text('Please enter a location');
                            }
                            //$('#infoMessage').stop();
                            //$('#infoMessage').slideDown();
                            //$('#infoMessage').delay(5000).slideUp("slow");

                            if (response.status == -3) {
                                var url = '@Url.Action("Index", "Login")';
                                window.location.href = url;
                            }
                        }
                    },
                    failure: function (response) {
                        $('.spinner').css('display', 'none');
                    },
                    error: function (response) {
                        $('.spinner').css('display', 'none');
                    }
                });
                return false;
            }
        });

        $('#btnMoveSerial').on('click', function () {
            $('.spinner').css('display', 'block');
                     $.ajax({
                    type: "POST",
                    url: "/DirectMoveSerial/MoveSerial",
                         data: { serial: $("#lblSerial").text(), serialID: eval($("#hdnserialID").val()), scanQty: eval($("#hdntotalQty").val()), locationID: eval($("#hdnLocationID").val()), isRepack: false, fgmultiID: eval($("#hdnFGMULTIID").val()), sourceLocation: $("#lblLocation").text(), targetLocation: $("#txtTargetLoc").val(), arinvtID: eval($('#hdnARINVT_ID').val()), lotNo: $('#hdnLOTNO').val()},
                    cache: false,
                    success: function (response) {
                        if (response.status == 0) {
                            $('.spinner').css('display', 'none');
                            $('#btnMoveSerial').hide();                           
                            $('#infoMessage').removeClass('alert-danger');
                            $('#infoMessage').removeClass('alert-info');
                            $('#infoMessage').addClass('alert-success');
                            $('#infoMessage').html(response.message);
                            $('#infoMessage').stop();
                            $('#infoMessage').slideDown();
                            $('#infoMessage').delay(3000).slideUp("slow");
                            //Swal.fire({
                            //    icon: "success",
                            //    title: "Success",
                            //    text: response.message
                            //});
                            $('#hdnNewSerialNumber').val(response.serial);
                            $('#lblTotalQty').text(eval($("#txtScanQty").val()));
                            $('#directMoveSerialDetail').hide();
                            $('#directMoveSerialLoc').hide();                            
                            $('#scanSerialNumber').show();                            
                            $('#txtScanSerial').removeAttr('readonly');
                            $('#btnNext').hide();
                            $('#txtScanSerial').val('');
                            $('#txtScanSerial').focus();
                            //$('#txtScanSerial').select();
                        }
                        else
                        {
                            $('.spinner').css('display', 'none');
                            $('#infoMessage').addClass('alert-danger');

                            if (response.status == -1) {
                                location.href = '/Login/Index/';
                            }

                            if (response.status == 1) {
                                $('#infoMessage').html(response.message);
                                $('#infoMessage').find('p').after('<div class="input-group"><input type="button" id="btnAddLocation" name="btnAddLocation" value="Add Location" class="btn btn-secondary btn-sm"></div>');
                            }

                            if (response.status == 3) {
                                $('#infoMessage').html(response.message);
                                //Swal.fire({
                                //    icon: "error",
                                //    title: "Oops...",
                                //    text: response.message
                                //});                                
                            }
                            $('#btnNext').show();

                            $('#infoMessage').stop();
                            $('#infoMessage').slideDown();
                            $('#infoMessage').delay(5000).slideUp("slow");

                            if (response.status == -3) {
                                var url = '@Url.Action("Index", "Login")';
                                window.location.href = url;
                            }
                        }
                    },
                    failure: function (response) {
                        $('.spinner').css('display', 'none');
                    },
                    error: function (response) {
                        $('.spinner').css('display', 'none');
                    }
                });
        });

        $('#btnNext').on('click', function () {
            var url = '@Url.Action("Move", "DirectMoveSerial")';
            window.location.href = url;
        });
    });
</script>
